body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    background-color: burlywood;
}

.head {
    background-color: azure;
    border-radius: 10px;
    margin: 30px;
}

.head nav {
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 20px;
}

.head nav a {
    color: rgb(255, 0, 0);
}

header h1 {
    text-align: center;
    color: rgb(12, 172, 17);
}

.bigbox {
    display: flex;
    flex-wrap: wrap;
}

.card img {
    border-radius: 20px;
}

.card {
    font-size: 15px;
    border-radius:  20px;
    text-align: center;
    border: thin solid #000;
    box-shadow: 3px 3px 3px rgba(40, 40 ,40 0.5);
    width: 220px;
    justify-items: center;
    margin: 5px auto;
    background-color: rgb(182, 251, 148);
}

.card figure:hover {
    width: 220px;
    margin-top: 0;
    margin-bottom: 10px;
}

.card figure {
    margin: 15px;
}

.card img {
    width: 100%;
}